<ion-view title="Curso Noite" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/NnncW8ENQpCIgDjJRRLQ_barra-top-promocao-jovem-programador_r1_c1.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button ng-show="lista" ng-repeat="item in lista" id="cursoNoite-button20" class=" button button-positive  button-block ">{{item.nome}}</button>
    </ion-content>
</ion-view>