<ion-view title="Página Inicial" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h2 id="pGinaInicial-heading7" style="color:#000000;" class=" ">Bem Vindo!</h2>
        <div class="">
            <img src="img/v16GHDkATsClEnGcmoks_classroom-interior_23-2147520674.jpg" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 28px;"></div>
        <h5 id="pGinaInicial-heading8" style="color:#000000;" class=" ">“MISSÃO DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <div class="spacer" style="width: 300px; height: 12px;"></div>
        <p id="pGinaInicial-markdown1" style="color:#171616;" class=" ">Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        <div class="spacer"
        style="width: 300px; height: 37px;"></div>
        <h5 id="pGinaInicial-heading9" style="color:#000000;" class=" ">“VISÃO DA ETEC “DOUTORA RUTH CARDOSO”</h5>
        <p id="pGinaInicial-markdown2" style="color:#000000;" class=" ">Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
    </ion-content>
</ion-view>